/* Basic styling for the sidebar */
#sidebar {

    display: flex;
    flex-direction: column;
    background: #112D4E;
    color: #4D9DE0;
    width: var(--sidebar-width);
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    transition: width 0.3s ease;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    /* Add shadow for depth */
    z-index: 2;
    /* Ensure sidebar is above content but below toggle button */
}

#sidebar.active {
    width: var(--sidebar-width-active);
}

#sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#sidebar ul li {
    padding: 15px 20px;
}

#sidebar ul li a {
    color: #4D9DE0;
    padding: 0.5rem 1rem;
    display: block;
    transition: background-color 0.3s ease;
}

#sidebar ul li a:hover {
    background-color: #335C67;
}

#sidebar-toggle {
    top: 0px;
    left: 0px;
    background-color: #112D4E;
    border: none;
    color: #4D9DE0;
    z-index: 3;
    /* Rounded corners for a modern look */
    cursor: pointer;
    /* Indicates that the element is clickable */
    transition: background-color 0.3s ease;
    /* Smooth background color transition */
    background-image: url('/static/img/side-menu.png');
    width: 100%;
    /* Full width of the sidebar */
    /* Задать ширину */
    height: 40px;
    /* Задать высоту */
    background-size: contain;
    /* Убедиться, что иконка помещается */
    order: -1;
    /* Ensure the toggle button is always the first item */
}

#sidebar-toggle:hover {
    background-color: #4D9DE0;
    /* Slightly darken button on hover */
}