/* Basic styling for the sidebar */
#sidebar {

    background: #2c3e50;
    color: #ecf0f1;
    width: var(--sidebar-width);
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    transition: width 0.3s ease;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    /* Add shadow for depth */
    z-index: 2;
    /* Ensure sidebar is above content but below toggle button */
}

#sidebar.active {
    width: var(--sidebar-width-active);
}

#sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#sidebar ul li {
    padding: 15px 20px;
}

#sidebar ul li a {
    color: #ecf0f1;
    padding: 0.5rem 1rem;
    display: block;
    transition: background-color 0.3s ease;
}

#sidebar ul li a:hover {
    background-color: #34495e;
}

#sidebar-toggle {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: var(--primary-color);
    border: none;
    color: white;
    z-index: 3;
    border-radius: 5px;
    /* Rounded corners for a modern look */
    cursor: pointer;
    /* Indicates that the element is clickable */
    transition: background-color 0.3s ease;
    /* Smooth background color transition */
    background-image: url('/static/img/42a27431-3689-4c0d-92c2-24f8402d907d.webp');
    width: 40px;
    /* Задать ширину */
    height: 40px;
    /* Задать высоту */
    background-size: contain;
    /* Убедиться, что иконка помещается */
}

#sidebar-toggle:hover {
    background-color: darken(var(--primary-color), 10%);
    /* Slightly darken button on hover */
}