<div id="content">
  <div class="config-settings">
    <h2>Twitch Settings</h2>
    <form id="config-form">
      <label for="username">Username:</label>
      <input
        type="text"
        id="username"
        name="username"
        value="{{ config.twitch.username }}"
      /><br />

      <label for="quality">Quality:</label>
      <input
        type="text"
        id="quality"
        name="quality"
        value="{{ config.twitch.quality }}"
      /><br />

      <label for="client_id">Client ID:</label>
      <input
        type="text"
        id="client_id"
        name="client_id"
        value="{{ config.twitch.client_id }}"
      /><br />

      <label for="client_secret">Client Secret:</label>
      <input
        type="text"
        id="client_secret"
        name="client_secret"
        value="{{ config.twitch.client_secret }}"
      /><br />

      <label for="refresh">Refresh Rate:</label>
      <input
        type="number"
        id="refresh"
        name="refresh"
        value="{{ config.twitch.refresh }}"
      /><br />

      <input type="submit" value="Save Changes" />
    </form>
  </div>
</div>
